@CHARSET "ISO-8859-1";

.ui-datatable table {
    width: auto;
    table-layout: auto;
}

.radioLabel {
	width: 13.3px;
	display: inline-block;
	text-align: center;
	margin-left: 14.4px;
	margin-right: 17.3px
}

.radioLine>tbody>tr>td {
	width: 30px;
	display: inline-block;
	border: none;
	whitespace-wrap:nowrap;
}

.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
	border: 0px solid rgba(0, 0, 0, 0);
}