@CHARSET "ISO-8859-1";

.radioLabel {
	width: 28px;
	display: inline-block;
	text-align: center;
}

.radioLine>tbody>tr>td {
	width: 31px;
	display: inline-block;
}

.ui-orderlist ul.ui-orderlist-list {
	width: 100%;
	height: auto;
}
